*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.progress{
    display: flex;
    justify-content:space-between;
    position: relative;
}
.progressStats{
    width:30px;
    height:30px;
    background:white;
    display:flex;
    border-radius: 50%;
    justify-content:center;
    align-items: center;
    transition: all 0.5s linear;
    border:5px solid #77757585;

}
.connector{
    overflow:hidden;
    height:5px;
    background:#77757585;
    width:80px;
    position: relative;
    top:15px;
    transform: translate(0%,-50%);
    transition:all 1s linear;
}
.done{
    border:5px solid rgb(88, 225, 230);
}
.doneConnector{
    background-color: rgb(88, 225, 230);
}
.controls{
    display: flex;
    justify-content:space-evenly;
    margin-top:20px;

}
button{
    padding:10px;
    border:none;
    background-color: rgb(97, 135, 240);
    cursor: pointer;
    border-radius: 3px;
    color:white;
}
button:hover{
    background:rgb(84, 180, 184);
}
button:disabled{
    background: #77757585;
}