*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Poppins;
}
body{
    display:flex;
    height:100vh;
    width:100%;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
}
#faqContainer{
    /* background:cadetblue; */
    width:clamp(50%,70%,100%);
    padding: 5px 0px 5px 5px;
    display:flex;
    /* justify-content:center; */
    align-items:center;
    flex-direction: column;
    height:100%;
}
.faq h3{
    font-size:30px;
    border-bottom:1px solid #53535362;

}
.faq{
    border:1px solid #53535398;
    margin: 20px;
    padding: 0px 0px 0px 10px;
    color:black;
    position: relative;
    box-sizing: border-box;
    width:80%;
    height:clamp(35px,45px,70px);
    border-radius: 10px;
    overflow: hidden;
    transition:height 1s ease-in-out;
}
.icon{
    position:absolute;
    right:15px;
    top:5px;
    font-size: 20px;
    cursor: pointer;
}
