@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins;
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

.container {
    width: 90vw;
    background-color: white;
}

header {
    width: 100%;
    text-align: center;
    padding: 10px;
    padding-top: 30px;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-bottom: 2px;
}

header span:nth-child(1) {
    color: #3b3b3b;
    font-weight: 500;
}

header span:nth-child(2) {
    color: #1f1f1f;
    font-weight: 700;
}

h3 {
    font-size: 13px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    color: #1E7EE2;
}

.icon {
    line-height: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #1f1f1f;
}

.name-row {
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

.name-row div {
    display: inline-block;
}

section>h3 {
    font-size: 17px;
}

section>h3>span {
    font-family: Arial;
}

.name-list {
    margin: 10px 0px;
}

.name-list ul {
    margin-left: 2%;
    color: rgba(31, 31, 31, 0.889);
}

.name-date {
    color: #1E7EE2;
}

.dash {
    color: #1f1f1fb9;
}

section {
    margin: 50px 0;
}

.name-header {
    font-family: 'Montserrat', sans-serif;
}

.updated-date {
    color: #1f1f1f69;
    position: absolute;
    bottom: 60px;
    right: 60px;
}

.name-place {
    color: rgba(31, 31, 31, 0.789);
}